{% extends "base.html" %}
{% block title %}{{ book.name }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            <div class="book col-md-4">
                    <h2>{{ book.name }}</h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date }}</p>
            </div>
        <div class="row">
            <p>{{ next_page }}</p>
            <p></p>
            <p>{{ prev_page }}</p>
        </div>
        </div>
    </div>
{% endblock %}